In [1]:
import pandas as pd

df = pd.read_csv("Grocery.csv")
df

      Product Name  Price (USD)  Quantity Sold
0           Apples         1.99            150
1          Bananas         0.59            200
2          Carrots         0.89            250
3         Tomatoes         2.49            180
4         Potatoes         1.29            300
5           Onions         0.79            270
6         Broccoli         2.19            130
7          Spinach         1.99            220
8             Milk         3.49            190
9             Eggs         2.99            160
10           Bread         2.49             80
11  Chicken Breast         5.99             60
12     Ground Beef         6.99             50
13          Salmon        10.99             40
14          Yogurt         0.99            300
15          Cheese         4.49            230
16    Orange Juice         3.99            120
17          Coffee         9.99             70
18            Rice         1.49            500
19           Pasta         1.29            450

In [2]:
def demo(value):
    if value <= 100:
        return "Low"
    elif value >100 and value <= 200:
        return "Medium"
    else:
        return "High"

df["Quantity Type"] = df["Quantity Sold"].apply(demo)
df

      Product Name  Price (USD)  Quantity Sold Quantity Type
0           Apples         1.99            150        Medium
1          Bananas         0.59            200        Medium
2          Carrots         0.89            250          High
3         Tomatoes         2.49            180        Medium
4         Potatoes         1.29            300          High
5           Onions         0.79            270          High
6         Broccoli         2.19            130        Medium
7          Spinach         1.99            220          High
8             Milk         3.49            190        Medium
9             Eggs         2.99            160        Medium
10           Bread         2.49             80           Low
11  Chicken Breast         5.99             60           Low
12     Ground Beef         6.99             50           Low
13          Salmon        10.99             40           Low
14          Yogurt         0.99            300          High
15          Cheese         4.49            230          High
16    Orange Juice         3.99            120        Medium
17          Coffee         9.99             70           Low
18            Rice         1.49            500          High
19           Pasta         1.29            450          High